<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431431547010-60fqbm3k7n99r5lvicct74dbbgmmssq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431431547010-60fqbm3k7n99r5lvicct74dbbgmmssq0</string>
	<key>API_KEY</key>
	<string>AIzaSyCeFFZnCN6HNj0IGZoMKuVm-xqn1cpFuFg</string>
	<key>GCM_SENDER_ID</key>
	<string>431431547010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gallaugher.Walk-Up-Music</string>
	<key>PROJECT_ID</key>
	<string>walk-up-music</string>
	<key>STORAGE_BUCKET</key>
	<string>walk-up-music.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431431547010:ios:72804ceac6e56674385c9b</string>
</dict>
</plist>